<div class="container-fluid px-sm-5">
  <div class="row">
    <div class="col-12  py-1 mt-3 mb-3">
      <div
        class="top-menu  p-sm-2 px-xs-5 d-flex justify-content-around align-middle flex-column flex-sm-row"
      >
        <img class="header" src="../assets/images/projects.png" />
        <h3 class="pl-sm-5">
          Our environmental Projects are providing many environmental benefits
          around the world.
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 mt-3" *ngFor="let card of cards">
      <app-cards [card]="card" style="width: 100%"></app-cards>
    </div>
  </div>
</div>
